
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 /* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px 0px 150px; 
}
.nav-title{
    font-size: 30px;
    font-weight: 800;
    color: blue;
} 
nav li{
    list-style: none;
    text-decoration: none;
}
/* button style */
.btn{
    background-color: blue;
    color: aliceblue;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}
.bg-add{
    background-image: url(../Assets/Hero-bg.png);
}
.as{
    max-width: 1140px;
    margin: 40px 200px;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
   
}
/* acation style */
.action {
    display: flex ;
    justify-content: space-between;
   margin: 450px 150px;
}
.action-content {
    max-width: 517px 203px;
}

.action-hight{
    font-size: 30px;
    font-weight: 600;
}
.action-profile{
    font-weight: 403px;
    height: 328px;
}